.idea
*.iml
**/target/**
**/logs/**
**.DS_store
**/log.*/**/*
**/logFilePath*/**/*
**/build/**/*.md
**/access_log.*
.gradle/6.7/gc.properties
.gradle/6.7/fileChanges/last-build.bin
.gradle/6.7/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/checksums/checksums.lock
.gradle/configuration-cache/gc.properties
.gradle/vcs-1/gc.properties
*.log
temp.xdb